# Packet 1 Configuration
DASHSCOPE_API_KEY_1=type your API here
DASHSCOPE_IMAGE_MODEL_1=qwen-image-2.0-pro
DASHSCOPE_IMAGE_PROMPT_1=Please make this person around 70 years old, dress, background, angle, lighting and other elements remain the same, style should be realistic

# Breakout 2 configuration
DASHSCOPE_API_KEY_2=type your API here
DASHSCOPE_IMAGE_MODEL_2=qwen-image-2.0-pro
DASHSCOPE_IMAGE_PROMPT_2=Please show this person around 70 years old relaxing in a beautiful garden drinking tea, don't change his/her clothes or dress, generate the image in a realistic style.

# Subgroup 3 Configuration
DASHSCOPE_API_KEY_3=type your API here
DASHSCOPE_IMAGE_MODEL_3=qwen-image-2.0-pro
DASHSCOPE_IMAGE_PROMPT_3=Please show this person around 70 years old in a cold hospital room alone in a wheelchair, don't change his/her clothes or dress, into the style of the image to be realistic.

# Subgroup 4 Configuration
DASHSCOPE_API_KEY_4=Type your API here
DASHSCOPE_IMAGE_MODEL_4=qwen-image-2.0-pro
DASHSCOPE_IMAGE_PROMPT_4=Please generate the person relaxing in a beautiful garden drinking tea in a realistic style based on this photo

# Grouping 5 Configuration
DASHSCOPE_API_KEY_5=type your API here
DASHSCOPE_IMAGE_MODEL_5=qwen-image-2.0-pro
DASHSCOPE_IMAGE_PROMPT_5=Based on this photo, please generate a realistic style of this person alone in a wheelchair in a cold hospital room

# Global Configuration
DASHSCOPE_NEGATIVE_PROMPT=Anime style, unrealistic, randomly generated, over-beautified, fake, not as requested

# Administrator Configuration
ADMIN_USERNAME=Type your admin username here
ADMIN_PASSWORD=Type your admin password here.
AUTH_TOKEN_SECRET=type your token here
UPSTASH_REDIS_REST_URL=Type your URL here.
UPSTASH_REDIS_REST_TOKEN=Type your token here.
ADMIN_ENABLE_DEV_TOOLS=true
NEXT_PUBLIC_ADMIN_ENABLE_DEV_TOOLS=true
